@font-face {
    font-family: 'Cocogoose Classic';
    src: url('- Yazı Görünüşləri/Cocogoose Classic.ttf') format('truetype')
}

@font-face {
    font-family: 'Texturina';
    src: url('- Yazı Görünüşləri/Texturina.ttf') format('truetype')
}
