@font-face {
    font-family: 'Adobe Clean';
    src: url('../- Fonts/Adobe Clean') format('truetype')
}

@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('../- Fonts/Alte Haas Grotesk.ttf') format('truetype')
}

@font-face {
    font-family: 'Aquawax';
    src: url('../- Fonts/Aquawax.ttf') format('truetype')
}

@font-face {
    font-family: 'Cano';
    src: url('../- Fonts/Cano.otf') format('opentype')
}

@font-face {
    font-family: 'Coco Gothic';
    src: url('../- Fonts/Coco Gothic.ttf') format('truetype')
}

@font-face {
    font-family: 'Cocogoose Classic';
    src: url('- Yazı Görünüşləri/Cocogoose Classic.ttf') format('truetype')
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../- Fonts/Comfortaa.ttf') format('truetype')
}

@font-face {
    font-family: 'Exo 2';
    src: url('../- Fonts/Exo 2.otf') format('opentype')
}

@font-face {
    font-family: 'Fontastique';
    src: url('../- Fonts/Fontastique.ttf') format('truetype')
}

@font-face {
    font-family: 'Gadies';
    src: url('../- Fonts/Gadies.otf') format('opentype')
}

@font-face {
    font-family: 'Gontserrat';
    src: url('../- Fonts/Gontserrat.ttf') format('truetype')
}

@font-face {
    font-family: 'Harabara Mais';
    src: url('../- Fonts/Harabara Mais.otf') format('opentype')
}

@font-face {
    font-family: 'Highway Gothic';
    src: url('../- Fonts/Highway Gothic.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato';
    src: url('../- Fonts/Lato.ttf') format('truetype')
}

@font-face {
    font-family: 'Libel Suit';
    src: url('../- Fonts/Libel Suit.ttf') format('truetype')
}

@font-face {
    font-family: 'Louis George Café';
    src: url('../- Fonts/Louis George Café.ttf') format('truetype')
}

@font-face {
    font-family: 'LTReponse';
    src: url('../- Fonts/LTReponse.otf') format('opentype')
}

@font-face {
    font-family: 'MADE Tommy';
    src: url('../- Fonts/MADE Tommy.otf') format('opentype')
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('../- Fonts/MADE Tommy Soft.otf') format('opentype')
}

@font-face {
    font-family: 'Mithella';
    src: url('../- Fonts/Mithella.otf') format('opentype')
}

@font-face {
    font-family: 'Modern Sans';
    src: url('../- Fonts/Modern Sans.otf') format('opentype')
}

@font-face {
    font-family: 'Mont';
    src: url('../- Fonts/Mont.otf') format('opentype')
}

@font-face {
    font-family: 'Montserrat';
    src: url('../- Fonts/Montserrat.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    src: url('../- Fonts/Open Sans.ttf') format('truetype')
}

@font-face {
    font-family: 'Opificio';
    src: url('../- Fonts/Opificio Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Opificio Rounded';
    src: url('../- Fonts/Opificio Rounded.ttf') format('truetype')
}

@font-face {
    font-family: 'Oxygen';
    src: url('../- Fonts/Oxygen.ttf') format('truetype')
}

@font-face {
    font-family: 'Poetsen One';
    src: url('../- Fonts/Poetsen One.ttf') format('truetype')
}

@font-face {
    font-family: 'Product Sans';
    src: url('../- Fonts/Product Sans.ttf') format('truetype')
}

@font-face {
    font-family: 'Quicksand';
    src: url('../- Fonts/Quicksand.otf') format('opentype')
}

@font-face {
    font-family: 'Raleway';
    src: url('../- Fonts/Raleway.ttf') format('truetype')
}

@font-face {
    font-family: 'Retroica';
    src: url('../- Fonts/Retroica.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto';
    src: url('../- Fonts/Roboto.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../- Fonts/Roboto Mono.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../- Fonts/Roboto Slab.ttf') format('truetype')
}

@font-face {
    font-family: 'Rounded Elegance';
    src: url('../- Fonts/Rounded Elegance.ttf') format('truetype')
}

@font-face {
    font-family: 'Sansation';
    src: url('../- Fonts/Sansation.ttf') format('truetype')
}

@font-face {
    font-family: 'Sunbeam';
    src: url('../- Fonts/Sunbeam.otf') format('opentype')
}

@font-face {
    font-family: 'Texturina';
    src: url('- Yazı Görünüşləri/Texturina.ttf') format('truetype')
}

@font-face {
    font-family: 'Typo Grotesk';
    src: url('../- Fonts/Typo Grotesk.otf') format('opentype')
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../- Fonts/Ubuntu.ttf') format('truetype')
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../- Fonts/Uni Sans.otf')format('opentype')
}

@font-face {
    font-family: 'Walkway';
    src: url('../- Fonts/Walkway.ttf') format('truetype')
}